/*------index.html----------*/
.page_title{
    display: flex;
    justify-content: center;
}
.main_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 44%;
    margin: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.about_user{
    margin-left: 1rem;
}

/*------user-details--------*/
.show_posts {
    width: 90%;
}
.container_post{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}
.posts-list {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 16%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------post-details--------*/
.post_container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.comments_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.comment {
    margin: 1rem;
    width: 21%;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;

}
